@model IEnumerable<Asp.Net_MvcWeb_Pj3.Aptech.Models.Patient>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Patient Index";
}

<h2>Patient List</h2>

<div class="ui container">
    <table class="ui table hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Year</th>
                <th>Height</th>
                <th>Blood Type</th>
                <th>Gender</th>
                <th>Status</th>
                <th>Import Date</th>
                <th>Export Date</th>
                <th>Publisher</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in Model)
            {
                <tr>
                    <td>@patient.Name</td>
                    <td>@patient.Year</td>
                    <td>@patient.Height</td>
                    <td>@patient.Boold_Type</td>
                    <td>@patient.GenDer</td>
                    <td>@patient.Status</td>
                    <td>@patient.ImportDate</td>
                    <td>@patient.ExportDate</td>
                    <td>@patient.Pub.Name</td>
                    <td>
                        <a href="/admin/Patient/edit/@patient.Id">Edit</a> |
                        <a href="/admin/Patient/delete/@patient.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<a href="/admin/Patient/add">Add New Patient</a>

<div style="overflow: auto; margin-left: 775px; margin-top: 10px;">
    <nav aria-label="Page navigation" class="ui left floated">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        <ul class="pagination ui menu">
            <li class="page-item">
                <a class="page-link item" href="?page=@(Model.PageNumber - 1)">Previous</a>
            </li>
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="page-item">
                    <a class="page-link item" href="?page=@i">@i</a>
                </li>
            }
            <li class="page-item">
                <a class="page-link item" href="?page=@(Model.PageNumber + 1)">Next</a>
            </li>
        </ul>
    </nav>
</div>
